@import "./variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ffd60a;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
  text-align: center;
}

body {
  background-color: var(--primary-color);
}

section,
h1,
#MyPhoto {
  background-color: var(--secondary-color);
}

main {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

section {
  padding: 20px 20px;
  margin: 20px;
  border-radius: 20px;
  border: solid;
  width: 40%;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
}

section:hover {
  transform: scale(1.05);
}

#MyPhoto {
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  border: solid;
  margin-top: 30px;
}

#MyPhoto:hover {
  transform: scale(1.05);
}

h1 {
  color: var(--headline-color);
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  border: solid;
}

h2 {
  color: var(--headline-color);
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  object-fit: contain;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.text {
  text-align: left;
}

ul {
  list-style: none;
}

ul > li {
  font-size: larger;
}

ul > li::before {
  content: "🐻";
  margin-right: 10px;
}

li {
  text-align: left;
}

ol > li {
  margin-left: 15px;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  text-shadow: 5px 5px 5px black;
}

a:active {
  color: var(--active-link-color);
}

a:visited {
  text-decoration: underline;
}
