/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

/* Your exercise starts here */

/* Add your CSS styles below this line. Feel free to replace the comments with your code. Make sure not to put your code into the comments, because then nothing will happen. */

.button1 {
  /*Style me! Change my border, set a border radius or what you want to try out. :) */
  border: dashed;
  border-radius: 20px;
  border-color: crimson;
}

.button2 {
  /*Style me! Change my color, or my background-color. Or both! You can test out different color modes here - like HEX, RGB, ... */
  background-color: rgb(130, 74, 184);
  color: #363763;
}

.button3 {
  /*Style me! You can test out changing the font, or font size, ...*/
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}

.button4 {
  /*Style me! Can you add a shadow to this button? Maybe play around with the shadow properties, as well? You can even color the shadow, make it bigger or smaller, ... */
  color: black;
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
  box-shadow: 2px 5px 5px black;
}

/* Feel free to play around with other properties, as well. */
